
ul > li > ul{
    display: flex;
    flex-direction: column;
    height: 20px;
    
}
ul > li > ul li{
    position: absolute;
    top:90%;
    border-radius: 4px;
}
ul > li > ul > li:hover{
    background-color: white;
}

